[MASTER]
disable=
    missing-class-docstring,
    missing-function-docstring,
    too-few-public-methods

[FORMAT]
max-line-length=120

[DESIGN]
max-args=8
max-attributes=15

[MESSAGES CONTROL]
disable=
    unused-argument,
    redefined-outer-name,
    too-many-arguments